<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>huge heart</title>
    <link rel="icon" type="image/x-icon" href="/public/images/favicon.ico">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/signIN.scss">
    <script type="text/javascript" src="/js/signIN.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Mulish&family=Playfair+Display&family=Quicksand:wght@300&family=Rubik:wght@700&display=swap" rel="stylesheet">

</head>