<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reviews</title>
    <link rel="icon" type="image/x-icon" href="images/favicon.ico">
    <link rel="stylesheet" href="css/review.css">
    <link href="https://fonts.googleapis.com/css2?family=Mulish&family=Playfair+Display&family=Quicksand:wght@300&family=Rubik:wght@700&display=swap" rel="stylesheet">
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>
<body>
<div>
    <div class="navbar">
        <img class="logo-navbar" src="images/logo-no-text.png" alt="">
        <h4 class="logo-text">Huge heart</h4>
    </div>
    <script src="https://use.fontawesome.com/a6f0361695.js"></script>
    <h2 id="fh2"><b>We appreciate your review!</b></h2>
    <h6 id="fh6">Your review will help us to improve our web hosting quality products, and customer services.</h6>


    <form id="feedback" action="" @submit.prevent="createContact" id="app">
        <div class="pinfo">Your personal information</div>

        <div class="form-group">
            <div class="col-md-4 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    <input  name="name" placeholder="First name" class="form-control" v-model="form.firstName" type="text">
                </div>
                <div class="input-group" style="margin: 1rem 0rem">
                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                    <input  name="name" placeholder="Last name" class="form-control" v-model="form.lastName" type="text">
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                    <input name="email" type="email" class="form-control" v-model="form.email" placeholder="yourName@gmail.com">
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-4 inputGroupContainer">
                <div class="input-group" >
                    <span class="input-group-addon"><i class="fa fa-globe"></i></span>
                    <input  name="URL" placeholder="Input department" class="form-control" v-model="form.department" type="url">
                </div>
            </div>
        </div>

        <div class="pinfo">Rate our overall services.</div>
        <div class="form-group">
            <div class="col-md-4 inputGroupContainer">
                <div class="input-group" style="width: 10rem;">
                    <span class="input-group-addon"><i class="fa fa-heart"></i></span>
                    <select class="form-control" id="rate" v-model="form.rate">
                        <option value="1star">1</option>
                        <option value="2stars">2</option>
                        <option value="3stars">3</option>
                        <option value="4stars">4</option>
                        <option value="5stars">5</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="pinfo">Write your feedback</div>


        <div class="form-group">
            <div class="col-md-4 inputGroupContainer">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-pencil"></i></span>
                    <textarea class="form-control" id="review" v-model="form.feedback" rows="3"></textarea>

                </div>
            </div>
        </div>
        <div class="card" v-for="contact in contacts">
            <button type="submit" class="btn btn-primary" style="position: absolute; left: 10rem; top: 47.2rem;" @click="markContact(contact.id)" :disabled="!canCreate">Submit</button>
            <button type="submit" class="btn btn-primary"  @click="removeContact(contact.id)">Remove</button>
        </div>
    </form>
</div>


<script type="module" src="frontend.js"></script>


<%- include('footer') %>